{% extends '::base.html.twig' %}
{% block title %}Orders index{% endblock %}
{% block body %}
    <h4>Orders index</h4>
    {{ grid(grid) }}
    <a href="{{ path('order_new') }}">Add an order</a>
{% endblock %}
