{% extends '::base.html.twig' %}
{% block title %}Order creation{% endblock %}
{% block body %}
    <h4>Order creation</h4>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('order_index') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
